.image-div {
  display: flex;
  justify-content: center;
}

body {
  background-color: #1d5d9b;
}

.login-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.login {
  background-color: #092b5a;
  border-radius: 5px;
  padding: 20px;
  width: 500px;
}

.image {
  margin-bottom: 50px;
  margin-top: 150px;
  width: 400px;
}

.inputs {
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.label {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input-class {
  border-radius: 5px;
  font-size: 18px;
  padding: 7px;
  width: 100%;
}

.buttons {
  margin-top: 20px;
  text-align: center;
}

.paragrafo1 {
  align-self: start;
  color: whitesmoke;
  font-family: Arial , Helvetica , sans-serif;
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: auto;
  text-align: center;
}

.paragrafo2 {
  align-self: start;
  color: whitesmoke;
  font-family: Arial , Helvetica , sans-serif;
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 10px;
  text-align: center;
}

.btn {
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 7px;
  padding: 10px;
  width: 100%;
}

.btn-settings {
  background-color: #606d80;
}

.btn-play {
  background-color: #066;
}

.btn-play:disabled {
  background-color: #4d8f81;
}
